* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    transition: .5s;
}

.home {
    width: 100%;
    height: 4fr;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.navigation {
    width: 100%;
    height: 2.5fr;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    padding: 15px;
    background-color: rgb(36, 207, 207);
    color: aliceblue;
    font-weight: bold;
    font-size: 20px;
}

.navigation li:hover {
    font-size: 21px;
    text-shadow: 1px 1px 2px rgb(74, 73, 73);

}

.hero {
    width: 100%;
    height: 450px;
    /* max-height: 1000px; */
    aspect-ratio: 16/9;
    background-image: url(./media/hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;

    background-color: black;
}

.hero::after {
    content: "";
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    position: absolute;
}

.info-hero {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: aliceblue;
    position: relative;
    z-index: 2;

}

.location-info {
    display: flex;
}

.contact {
    padding: 5px 20px 5px 20px;
    font-size: 20px;
    margin-top: 30px;
    background-color: aqua;
    border: none;
    border-radius: 30px;
}

.contact:hover {
    font-size: 21px;

}

.content-services {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.services {
    margin-top: 30px;
    display: flex;
    width: 70%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.35);
    padding: 25px 0 25px 0;
}

.services .services-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 10px;
}

.card-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    gap: 60px;
}

.card-item .icon-card {
    background-color: #ffb300;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-size: 40PX;
}

.contact-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    aspect-ratio: 16/9;
    gap: 50px;
}

form {
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: #54545484;
    padding: 30px 20px;
    border-radius: 30px;
    gap: 15px;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgb(74, 73, 73);
}

form input,
textarea {
    height: 30px;
    border-radius: 30px;
    padding: 0 10px 0 10px;
}

form .content-button {
    display: flex;
    justify-content: end;
}

form button {
    width: 100px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    background-color: #ffb300;
    text-shadow: none;
    border-radius: 30px;

}